### Nextflow ###

.idea/*
*.pyc

*work*
*.nextflow*
*trace.txt*

### Data: Big files and binaries ###

*npy
*ped
*map
test*
*data
*mat
*p53

# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*

# End of https://www.gitignore.io/api/visualstudiocode

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# End of https://www.gitignore.io/api/jupyternotebook

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# End of https://www.gitignore.io/api/macos
